body{
	background:blue;
		color:white; 

}
header{
	border:1px solid black;
	text-align: center;

}
header nav ul li{
	background: orange;
	border:black;
	display: inline-block;
	width: 100px;
	border-radius: 5px;
}
header nav ul li:hover{
	background: black;
	border:black;
	display: inline-block;
	width: 100px;
	border-radius: 5px;
}